<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
          <div class="main-content">
               <title>Help</title>
            {{>header}}
       
        </div>    
         {{>footer}}  
    </body>
   
</html>